body{
    background:linear-gradient(violet, skyblue);
}
.para1{
    text-align:justify;
    font-size:1.2em;
    animation:2s para1 ease-in-out;
}
.para1 h1{
    color:aqua;
} 
@keyframes para1{
    0%{
        opacity:0;
        transform:translatex(-100%);}
   }